html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinckMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira sans, Broid sans, Droid sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


